<?xml version="1.0"?>

<launch>
    <arg name="use_rviz" default="true" />

    <!-- racecar tf -->
    <include file="$(find racecar_description)/launch/tianbot_racecar_tf.launch" />

    <!-- lidar -->
    <include file="$(find racecar_bringup)/launch/lidar.launch" />

    <!-- racecar core -->
    <include file="$(find racecar_core)/launch/racecar_core.launch" />

    <!--rf2o_Laser_Odometry-->
    <include file="$(find racecar_bringup)/launch/includes/tianbot_rf2o.launch.xml" />
    <!-- Robot_Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find racecar_bringup)/param/tianbot_ekf_params.yaml" />
    </node>

    <!-- gmapping -->
    <include file="$(find racecar_slam)/launch/racecar_gmapping.launch" />

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_rviz)/rviz_cfg/tianbot_gmapping.rviz" if="$(arg use_rviz)"/>

</launch>
