KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE:="0666", GROUP:="dialout",  SYMLINK+="gy85"
ACTION=="add", ENV{DEVNAME}=="/dev/ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", RUN+="/bin/systemctl start tianbot_racecar_imu.service"
ACTION=="remove", ENV{DEVNAME}=="/dev/ttyUSB*", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="7523", RUN+="/bin/systemctl stop tianbot_racecar_imu.service"
