<?xml version="1.0"?>

<launch>
  <arg name="base" default="$(optenv TIANBOT_RACECAR_BASE compact)" />

  <include if="$(eval base == 'compact')" file="$(find racecar_description)/launch/includes/compact_tf.launch.xml" />
  <include if="$(eval base == 'standard')" file="$(find racecar_description)/launch/includes/standard_tf.launch.xml" />
  <include if="$(eval base == 'fullsize')" file="$(find racecar_description)/launch/includes/fullsize_tf.launch.xml" />
</launch>
