<?xml version="1.0"?>

<launch>
    <arg name="use_rf2o"   default="false" />
    <arg name="use_ekf"    default="false" />
    <arg name="bag_record" default="false" />

    <node pkg="rosbag" type="record" name="recordIMUandLaserScan" output="screen" args="record -O $(find tianbot_racecar)/bags/imu_laser_tf_001.bag -a" if="$(arg bag_record)"/>

    <!-- TF setting -->
    <include file="$(find tianbot_racecar)/launch/includes/tianbot_racecar_tf.launch.xml" />

    <!-- SENSOR DEVICE -->
    <!-- RPLidar -->
    <!--include file="$(find tianbot_racecar)/launch/includes/rplidar.launch.xml" /-->
    <!-- IMU -->
    <!--include file="$(find tianbot_racecar)/launch/includes/gy85.launch.xml" /-->
    <!-- Arduino -->
    <!--include file="$(find tianbot_racecar)/launch/racecar_core.launch" /-->

    <!-- Odometry -->
    <!--rf2o_Laser_Odometry-->
    <include file="$(find tianbot_racecar)/launch/includes/tianbot_rf2o.launch.xml" if="$(arg use_rf2o)" />
    <!-- Robot_Localization -->
    <group if="$(arg use_ekf)">
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
            <rosparam command="load" file="$(find tianbot_racecar)/param/tianbot_ekf_params.yaml" />
        </node>
    </group>

</launch>
