[Unit]
Description=Tianbot racecar joystick service
After=NetworkManager-wait-online.service tianbot_racecar_core.service
Requires=tianbot_racecar_core.service

[Service]
ExecStart=/usr/local/bin/tianbot_racecar_joystick.sh
Restart=on-abort
User=tianbot

[Install]
WantedBy=multi-user.target